In [30]:
import pandas as pd
import numpy as np

In [31]:
df = pd.read_excel('shark attacks final.xlsx', engine = 'openpyxl')
df.replace('NaN', np.nan, inplace=True)
df.replace('NA', np.nan, inplace=True)
df.head(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2022-07-16 00:00:00,2022-07-16 00:00:00,2022.0,Unprovoked,USA,Florida,"Daytona Beach Shores, Volusia County",NaN,Tasa Summers,F,...,N,13h12,A small shark,"WESH, 717,2022",2022.07.16-Summers.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2022-07-16 00:00:00,2022-07-16 00:00:00,6785.0
1,"2022,91,06.R",2022-01-06 00:00:00,2022.0,Unprovoked,USA,Florida,"Anna Maria Island, Manatee County",Wing Foil Surfing,Erika Lane,F,...,N,14h45,Blacktip or spinner shark,ABC.net,2022.01.06.R-Lane.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2022.01.06.R,"2022,91,06.R",6729.0
2,2021-08-02 00:00:00,2021-08-02 00:00:00,2021.0,Unprovoked,USA,Maryland,"Ocean City, Worcester County",Swimming,Jordan Prushinski,F,...,N,15h00,Blacktip shark,J. Marchand. GSAF,2021.08.02-Prushinski.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2021-08-02 00:00:00,2021-08-02 00:00:00,6696.0

Olhando a coluna Age

In [32]:
df['Age'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 6816 entries, 0 to 6815
Series name: Age
Non-Null Count  Dtype
--------------  -----
3839 non-null   object
dtypes: object(1)
memory usage: 53.4+ KB

In [33]:
df['Age'].unique()

array([40, 42, 12, 9, 10, 26, 38, nan, 54, 17, 22, 55, 29, 14, 30, 69, 20,
       11, 35, 23, 59, 31, 18, 15, 44, '20s', 24, 32, 6, 39, 50, 21, 66,
       52, 48, 33, 28, 8, 46, 45, '21 & ?', 47, 73, 27, 5, 25, 13,
       '7      &    31', 19, 36, 62, 49, 'Teen', '50s', 53, 57, 16, 43,
       58, 71, 60, 37, 61, '9 & 12', 'X', '2½', 64, 56, 34, 41,
       '18 months', 7, 51, 87, 65, '60s', 68, 75, 63, '? & 19', 3, 'teen',
       67, 70, '46 & 34', 'Teens', '36 & 26', '30 & 32', 1, '30s',
       '9 months', '31 or 33', 'a minor', 77, '50 & 30', '7 or 8',
       '36 & 23', 'M', '40s', '17 & 35', 'F', 'young', '33 & 26',
       '23 & 20', 72, 'Both 11', '45 and 15', '28, 23 & 30', '13 or 14',
       '18 to 22', 'middle-age', '22, 57, 31', "20's", 'mid-30s',
       'mid-20s', '23 & 26', '37, 67, 35, 27,  ? & 27', '!!', '9 & 60',
       '6½', '33 or 37', '(adult)', 78, 74, 86, 'adult', '2 to 3 months',
       'A.M.', 'Ca. 33', '21 or 26', "60's", '33 & 37', '34 & 19', 82,
       '12 or 13', '>50', '13 or 18', 4, 'MAKE LINE GREEN', '20?',
       '16 to 18', '8 or 10', '25 to 35', '21, 34,24 & 35', '17 & 16',
       '9 or 10', '?    &   14', '18 or 20', '32 & 30', '25 or 28', '!6',
       'Elderly', '28 & 22', '28 & 26', 84, 81, '30 or 36', '10 or 12'],
      dtype=object)

In [45]:
df['Age'].replace('s', '', regex=True, inplace=True)
df['Age'].replace('&', ',', regex=True, inplace=True)
df['Age'].replace('!', '', regex=True, inplace=True)
df['Age'].replace('and', ',', regex=True, inplace=True)
df['Age'].replace('\?', '', regex=True, inplace=True)

#vendo o or
#df['Age'].str.removeprefix('or')

#o resto


df['Age'].replace('9 or 10', '10', inplace=True)
df['Age'].replace('18 or 20', '20', inplace=True)
df['Age'].replace('25 or 28', '28', inplace=True)
df['Age'].replace('Elderly', '', inplace=True)
df['Age'].replace('30 or 36', '30', inplace=True)
df['Age'].replace('mid-30s', '30', regex=True, inplace=True)
df['Age'].replace('mid-20s', '20', inplace=True)
df['Age'].replace('6½', '6.5', inplace=True)
df['Age'].replace('33 or 37', '33', inplace=True)
df['Age'].replace('(adult)', '', inplace=True)
df['Age'].replace('adult', '', inplace=True)
df['Age'].replace('2 to 3 months', '0.3', inplace=True)
df['Age'].replace('A.M.', '', inplace=True)
df['Age'].replace('Ca. 33', '33', inplace=True)
df['Age'].replace('21 or 26', '21', inplace=True)
df['Age'].replace('>50', '', inplace=True)
df['Age'].replace('13 or 18', '18', inplace=True)
df['Age'].replace('MAKE LINE GREEN', '', inplace=True)
df['Age'].replace('', '', inplace=True)
df['Age'].replace('Teen', '', inplace=True)
df['Age'].replace('teen', '', inplace=True)
df['Age'].replace('X', '', inplace=True)
df['Age'].replace('9 months', '0.75', inplace=True)
df['Age'].replace('2½', '2.5', inplace=True)
df['Age'].replace('18 months', '1', inplace=True)
df['Age'].replace('Teens', '', inplace=True)
df['Age'].replace('31 or 33', '32', inplace=True)
df['Age'].replace('a minor', '', inplace=True)
df['Age'].replace('7 or 8', '8', inplace=True)
df['Age'].replace('M', '', inplace=True)
df['Age'].replace('F', '', inplace=True)
df['Age'].replace('young', '', inplace=True)
df['Age'].replace('Both 11', '11', inplace=True)
df['Age'].replace('13 or 14', '13', inplace=True)
df['Age'].replace('18 to 22', '20', inplace=True)
df['Age'].replace('middle-age', '', inplace=True)

In [46]:
df['Age'].astype(float)

ValueError: could not convert string to float: '7          31'